{% load staticfiles i18n %}
<!DOCTYPE html>

<html lang="en">
  <head>
    {% block meta_tags %}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {% endblock %}
    <title>
      {% block title %}DJ Ango{% endblock %}
    </title>
    {% block stylesheets %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">
    <link href="/static/css/dj_ango.css" rel="stylesheet">
    {% endblock %}
    {% block javascript %}
    <script type='text/javascript' src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type='text/javascript' src="/static/js/jquery.cookie.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="/static/js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js"> </script>
    <script type='text/javascript' src="/static/js/dj_ango.js"></script>
    {% endblock %}
  </head>
  <body>
      {% include "dj/header.html" with user=user %}
    <div class="container">
      {% block content %}{% endblock %}
      {% include "dj/footer.html" %}
    </div>
  </body>
</html>
