<div class="panel-body">
  <div class="row">
    <div class="col-xs-10">
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-expand"></span></span>
        <input type="text" id="search" class="form-control"
        placeholder="Search term or youtube link" required>
      </div>
    </div>
    <div class="col-xs-2">
      <button class="btn btn-default" style="width: 100%" id="search_button" onclick="add_search()">
        Search
      </button>
    </div>
  </div>
  {% if results %}
  <span id="result_list">
    <hr>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">Title</span>
          <input type="text" id="title" class="form-control" placeholder="mandatory" required>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <span class="input-group-addon">Artist</span>
          <input type="text" id="artist" class="form-control" placeholder="optional">
        </div>
      </div>
    </div>
    </br>
    <div class="panel-group" id="accordion">
      {% for s in results %}
      <div class="panel panel-default">
        <a class="panel-heading" style="display: block" data-toggle="collapse" data-parent="#accordion" href="#tab-{{s.site}}">
          <h4 class="panel-title">
            {{s.site}} {% if s.site == "Grooveshark" %}(better quality, no
            right control){% else %}<span style="color: red">/!\ can't
              download videos with tagged songs /!\</span>{% endif %}
          </h4>
        </a>
        <div id="tab-{{s.site}}" class="panel-collapse collapse in">
          <div class="panel-body">
            {% for r in s.results %}
            <button class="btn btn-success btn-xs"onclick="add_pending('{{r.link}}', '{{r.source}}')">
              <span class="glyphicon glyphicon-cloud-upload"></span>
            </button>
            &nbsp;&nbsp; {{r.title}} ({{r.duration}})
            <span style="float: right"><a href="{{r.link}}">{{r.link}}</a></span>
            <br/>
            <br/>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </span>
  {% endif %}
</div>
