{% extends "dj/_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Playlist</h3></div>
          <div class="panel-body">
            <!--
            {% if user.is_superuser %}
            <form method="post" action="#">{% csrf_token %}
              <h4>Volume:
                <div style="float: right">
                  <input id="sl1" class="span2" type="text" data-slider-min="0" data-slider-value="{{volume}}"
                  data-slider-max="100" data-slider-step="1"style="float: right" name="volume"></input>
                  <button type="submit" class="btn btn-default btn-xs">Ok</button>
                </div>
              </h4>
            </form>
            <script>$('#sl1').slider()</script>
            <hr>
            {% endif %}
            --!>
            <h4>Player</h4>
            <audio controls loop style="width: 100%">
              <source src="http://mpd.zeletochoy.fr/mpd.ogg" type="audio/ogg">
              Your browser does not support the audio element.
            </audio> 
            <hr>
            <h4>Now Playing</h4>
            <span id="now-playing">
            {% include "dj/now_playing.html" %}
            </span>
            <hr>
            <h4>Next</h4>
            <span id="next">
            {% include "dj/next.html" %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
