{% extends "dj/_base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="alert alert-info">
      If you're from IONIS you can use your login and your unix pass.
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Log in</h3></div>
      <div class="panel-body">
        <form method="post" action="/login/">{% csrf_token %}
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" class="form-control" name="login" required>
          </div>
          </br>
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            <input type="password" class="form-control" name="password" required>
          </div>
          </br>
          <button type="submit" class="btn btn-default" style="width: 100%">Connect</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
