{% for song in songs %}
  {% if song.artist and song.artist.name != "Unknown" %}{{song.artist}} - {% endif %}{{song.title}} ({{song.time}})
  <span style="float: right">
    <span class="badge">{{song.votes__count}}</span>
    {% if user in song.votes.all %}
    <button class="btn btn-danger btn-xs" onclick="javascript:del_vote_idx({{song.id}})">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
    {% else %}
    <button class="btn btn-success btn-xs" onclick="javascript:add_vote_idx({{song.id}})">
      <span class="glyphicon glyphicon-thumbs-up"></span>
    </button>
    {% endif %}
  </span>
</br>
</br>
{% endfor %}
