{% if playing.artist and playing.artist.name != "Unknown" %}{{playing.artist}} - {% endif %}{{playing.title}}
<div id="timer" style="float: right">{{time}}</div>
<br/>
<br/>
<div class="progress">
    <div id="timer-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    <div id="timer-remain" class="progress-bar" style="width: 100%"></div>
</div>
