{% extends "dj/_base.html" %}

{% block content %}
<h1 class="text-center">Validate songs</h1>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title">Songs waiting for validation</h3></div>
  <div class="panel-body">
    <span id="pending">
    {% include "dj/pending.html" %}
    </span>
  </div>
</div>
{% endblock content %}
