{% for song in page %}
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      {% if song.artist and song.artist.name != "Unknown" %}{{song.artist}} - {% endif %}{{song.title}} ({{song.time}})
      <span style="float: right">
        <span class="badge">{{song.votes__count}}</span>
        {% if user in song.votes.all %}
        <button class="btn btn-danger btn-xs"
          onclick="javascript:del_vote({{song.id}}, {{page.number}}, '{{category}}')">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        {% else %}
        <button class="btn btn-success btn-xs"
          onclick="javascript:add_vote({{song.id}}, {{page.number}}, '{{category}}')">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        {% endif %}
      </span>
    </div>
  </div>
</div>
{% endfor %}
<div style="margin: auto; text-align: center;">
  <ul class="pagination">
    <li {% if not page.has_previous %}class="disabled"{% endif %}>
    <a href="{% if page.has_previous %}javascript:vote_page({{1}}, '{{category}}'){% else %}{% endif %}">
      <span class="glyphicon glyphicon-fast-backward"></span>
    </a>
    </li>
    <li {% if not page.has_previous %}class="disabled"{% endif %}>
    <a href="{% if page.has_previous %}javascript:vote_page({{page.previous_page_number}}, '{{category}}'){% else %}{% endif %}">
      <span class="glyphicon glyphicon-backward"></span>
    </a>
    </li>
    {% if page.has_previous %}
    <li><a href="javascript:vote_page({{page.previous_page_number}}, '{{category}}')">{{page.previous_page_number}}</a></li>
    {% endif %}
    <li class="active"><a href="javascript:vote_page({{page.number}}, '{{category}}')">{{page.number}}</a></li>
    {% if page.has_next %}
    <li><a href="javascript:vote_page({{page.next_page_number}}, '{{category}}')">{{page.next_page_number}}</a></li>
    {% endif %}
    <li {% if not page.has_next %}class="disabled"{% endif %}>
    <a href="{% if page.has_next %}javascript:vote_page({{page.next_page_number}}, '{{category}}'){% else %}{% endif %}">
      <span class="glyphicon glyphicon-forward"></span>
    </a>
    </li>
    <li {% if not page.has_next %}class="disabled"{% endif %}>
    <a href="{% if page.has_next %}javascript:vote_page({{num_pages}}, '{{category}}'){% else %}{% endif %}">
      <span class="glyphicon glyphicon-fast-forward"></span>
    </a>
    </li>
  </ul>
</div>
