{% extends "dj/_base.html" %}

{% block content %}
<h1 class="text-center">Vote</h1>
<div class="row">
  <form method="post" action="/vote/1">{% csrf_token %}
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" name="search" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
<br/>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="well">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li id="all" {% if category == "all" %}class="active"{% endif %}><a href="javascript:vote_category('all')">All</a> </li>
        <li id="youtube" {% if category == "youtube" %}class="active"{% endif %}><a href="javascript:vote_category('youtube')">Youtube</a></li>
        <li id="grooveshark" {% if category == "grooveshark" %}class="active"{% endif %}><a href="javascript:vote_category('grooveshark')">Grooveshark</a></li>
        <li id="coucoucircus" {% if category == "coucoucircus" %}class="active"{% endif %}><a href="javascript:vote_category('coucoucircus')">Coucoucircus</a></li>
        <li id="ma" {% if category == "ma" %}class="active"{% endif %}><a href="javascript:vote_category('ma')">MA</a></li>
        <li id="upload" {% if category == "upload" %}class="active"{% endif %}><a href="javascript:vote_category('upload')">Upload</a></li>
      </ul>
      <br/><br/>
      <span id="page">
      {% include "dj/vote_page.html" %}
      </span>
    </div>
  </div>
</div>
{% endblock content %}
